@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SW_Master.cshtml";
	var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div id="main-wrapper">
	<div id="main" class="container">
		<div class="row">	
			<div id="sidebar" class="4u 12u(mobile)">
				<section>
					<ul class="divided">
						<li>
							@*<article class="box excerpt">*@
								<hr class="star-primary">
								@Html.Raw(Model.Content.GetPropertyValue<string>("bodyText"))
							@*</article>*@
						</li>
					</ul>
				</section>
				
			</div>
					
			<div id="content" class="8u 12u(mobile) important(mobile)">
				<header>
					<h2>@pageTitle</h2>
					<hr class="star-primary">
				</header>
				@*<div class="col-lg-8 col-lg-offset-2">
					<div id="mainContent" class="fc">
				  <div class="navigation">
					@Html.Partial("LeftNavigation",@Model.Content)
					  &nbsp;
				  </div>*@
				@Html.Partial("ContactForm",new ElmLodgeKennels.ContactFormModel())
			</div>
		</div>
	</div>
</div>