<!DOCTYPE root[<!ELEMENT ContactForm ANY>
<!ATTLIST ContactForm id ID #REQUIRED>
<!ELEMENT ContentPanel ANY>
<!ATTLIST ContentPanel id ID #REQUIRED>
<!ELEMENT ContentPanels ANY>
<!ATTLIST ContentPanels id ID #REQUIRED>
<!ELEMENT Standard ANY>
<!ATTLIST Standard id ID #REQUIRED>
<!ELEMENT Slide ANY>
<!ATTLIST Slide id ID #REQUIRED>
<!ELEMENT Slideshow ANY>
<!ATTLIST Slideshow id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
 
<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT ClientArea ANY>
<!ATTLIST ClientArea id ID #REQUIRED>
<!ELEMENT ContentMaster ANY>
<!ATTLIST ContentMaster id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1064" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-01-31T16:00:52" updateDate="2019-02-03T22:29:16" nodeName="Home" urlName="home" path="-1,1064" isDoc="" nodeType="1062" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="1063" nodeTypeAlias="Homepage">
    <Standard id="1074" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2019-01-31T17:07:25" updateDate="2019-02-03T20:41:01" nodeName="Kennels" urlName="kennels" path="-1,1064,1074" isDoc="" nodeType="1072" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="1073" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Kennels]]></title>
      <description><![CDATA[Elm lodge kennels a look at the kennels avaliable for your dog, If you wish you are more than welcome to bring your dogs own bedding, food and toys to make them feel at home, but otherwise we are more than happy to provide everything.]]></description>
      <keywords><![CDATA[Elm Lodge Boarding kennels Cambridge, Elm Lodge Boarding kennels Cambridgeshire, Elm Lodge Boarding kennels in Wisbech, boarding kennels in Cambridgeshire, boarding kennels Wisbech, dog hotel cambridge, dog hotel in cambridge, luxury dog hotel cambridge, luxury dog hotel in cambridge,dog hotel cambridgeshire, dog hotel in cambridgeshire, Elm Lodge Boarding Kennels, ElmLodge Boarding Kennels, dog kennels, boarding kennels, dog boarding kennels, dog boarding, pet hotel, kennels, boarding kennels, large kennels, extra large kennels, big kennels, designer kennels, dog resort, dog grooming,dog holiday, dogs holiday, pet hotel, canine, boreding kennels, bording kennels, Kennels, bedding, heating]]></keywords>
      <bodyText><![CDATA[<p>Elm lodge is a very special place with a relaxed, friendly atmosphere with that personal touch ensuring our Dog Guests feel right at home. We ensure we have the best kennel facilities possible, so we are always looking to invest in upgrading our facilities to make sure that we can continue to provide great service. <br /><br />The kennels themselves are situated in a quiet corner of the yard, there are 12 kennels within the building of varying sizes to cater suitably for all size of dogs.<br />If you wish you are more than welcome to bring your dogs own bedding, food and toys to make them feel at home, but otherwise we are more than happy to provide everything.</p>
<p class="quotation">"We can administer injections if required, and there is NO CHARGE for administering any kind of medication for your dog."</p>
<p>Our Kennels are set in our beautiful gardens. A walk through the gardens takes you to reception and then on to our exercise paddock which is securely fenced for your dog's safety, and means they have the freedom to run and play lead free..</p>]]></bodyText>
      <favIcon><![CDATA[paw]]></favIcon>
      <contentPanels><![CDATA[1081,1082]]></contentPanels>
      <items><![CDATA[[
  {
    "Image": "1085",
    "Title": "Rio",
    "Description": "<p>all set for bed with his own leopard print blanket.</p>"
  },
  {
    "Image": "1084",
    "Title": "Tiddles",
    "Description": "<p>enjoying his stay for the night, snuggled up in a fleece blanket</p>"
  },
  {
    "Image": "1086",
    "Title": "Boarding Kennel",
    "Description": "<p>Heres one of our empty boarding kennels ready for your dog!</p>"
  }
]]]></items>
    </Standard>
    <Standard id="1087" parentID="1064" level="2" creatorID="0" sortOrder="1" createDate="2019-02-03T20:42:51" updateDate="2019-02-03T20:49:57" nodeName="Facilities" urlName="facilities" path="-1,1064,1087" isDoc="" nodeType="1072" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="1073" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Facilities]]></title>
      <keywords><![CDATA[Elm Lodge Boarding kennels Cambridge, Elm Lodge Boarding kennels Cambridgeshire, Elm Lodge Boarding kennels in Wisbech, boarding kennels in Cambridgeshire, boarding kennels Wisbech, dog hotel cambridge, dog hotel in cambridge, luxury dog hotel cambridge, luxury dog hotel in cambridge,dog hotel cambridgeshire, dog hotel in cambridgeshire, Elm Lodge Boarding Kennels, ElmLodge Boarding Kennels, dog kennels, boarding kennels, dog boarding kennels, dog boarding, pet hotel, kennels, boarding kennels, large kennels, extra large kennels, big kennels, designer kennels, dog resort, dog grooming,dog holiday, dogs holiday, pet hotel, canine, boarding kennels, boarding kennels, Facilities]]></keywords>
      <favIcon><![CDATA[cog]]></favIcon>
      <contentPanels><![CDATA[1082]]></contentPanels>
      <items><![CDATA[[
  {
    "Image": "1089",
    "Title": "Exercise Paddock",
    "Description": "<p>Enclosed and secure exercise paddock where your dog can have a run get regular exercise.</p>"
  },
  {
    "Image": "1090",
    "Title": "Reception",
    "Description": "<p>Reception area which has a modern food preparation area.</p>"
  },
  {
    "Image": "1092",
    "Title": "Undercover Runs",
    "Description": "<p>Which provide exercise and interaction even with typical British weather.</p>"
  },
  {
    "Image": "1091",
    "Title": "Private Walk",
    "Description": "<p>Private walks through the countryside.</p>"
  }
]]]></items>
    </Standard>
    <Standard id="1094" parentID="1064" level="2" creatorID="0" sortOrder="2" createDate="2019-02-03T21:44:00" updateDate="2019-02-03T21:55:49" nodeName="About Us" urlName="about-us" path="-1,1064,1094" isDoc="" nodeType="1072" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="1073" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[About Us]]></title>
      <keywords><![CDATA[Elm Lodge Boarding kennels Cambridge, Elm Lodge Boarding kennels Cambridgeshire, Elm Lodge Boarding kennels in Wisbech, boarding kennels in Cambridgeshire, boarding kennels Wisbech, dog hotel cambridge, dog hotel in cambridge, luxury dog hotel cambridge, luxury dog hotel in cambridge,dog hotel cambridgeshire, dog hotel in cambridgeshire, Elm Lodge Boarding Kennels, ElmLodge Boarding Kennels, dog kennels, boarding kennels, dog boarding kennels, dog boarding, pet hotel, kennels, boarding kennels, large kennels, extra large kennels, big kennels, designer kennels, dog resort, dog grooming,dog holiday, dogs holiday, pet hotel, canine, boreding kennels, bording kennels, About, Map]]></keywords>
      <bodyText><![CDATA[<p>We are open <strong>MONDAY TO SUNDAY</strong> <strong>PLEASE DO NOT ARRIVE AFTER 8PM</strong><br />We charge for day of arrival and day of collection. However, there is a reduction for multiple dogs and any pet not collected by 8pm will be subject to a charge of one extra day’s boarding. <br /><br />Payment may be made by cheque accompanied by a cheque guarantee card or cash. <br /><br />Please <strong><a href="/{localLink:1212}" target="_top" title="Contact Us">contact us</a> </strong>to arrange a visit.</p>
<p> </p>]]></bodyText>
      <favIcon><![CDATA[group]]></favIcon>
      <contentPanels><![CDATA[1095]]></contentPanels>
    </Standard>
    <ContactForm id="1098" parentID="1064" level="2" creatorID="0" sortOrder="3" createDate="2019-02-03T22:19:31" updateDate="2019-02-03T22:30:11" nodeName="Contact Us" urlName="contact-us" path="-1,1064,1098" isDoc="" nodeType="1096" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="1097" nodeTypeAlias="ContactForm">
      <Standard id="1099" parentID="1098" level="3" creatorID="0" sortOrder="0" createDate="2019-02-03T22:22:21" updateDate="2019-02-03T22:23:11" nodeName="Thank You" urlName="thank-you" path="-1,1064,1098,1099" isDoc="" nodeType="1072" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="1073" nodeTypeAlias="Standard">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[Thank You]]></title>
        <bodyText><![CDATA[<p>We will be sure to get back to you as soon possible, should you need to contact us promptly please call 07429 700154.</p>
<p> </p>
<p>Kind Regards</p>
<p> </p>
<p>Elm Lodge Kennels</p>]]></bodyText>
      </Standard>
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Contact Us]]></title>
      <bodyText><![CDATA[<p>We are based in Wisbech near Cambridgeshire, If you are interested in our services give us a call on 07429 700154, email at parkerwarden@googlemail.com or fill out the form below and I'll get back to you please get in touch!</p>]]></bodyText>
      <favIcon><![CDATA[envelope]]></favIcon>
      <recipientEmailAddress><![CDATA[reception@elmlodgekennels.co.uk]]></recipientEmailAddress>
      <emailSubject><![CDATA[Elm Lodge Kennels Contact Form]]></emailSubject>
      <thankYouPage>1099</thankYouPage>
      <senderEmailAddress><![CDATA[reception@elmlodgekennels.co.uk]]></senderEmailAddress>
    </ContactForm>
    <Standard id="1093" parentID="1064" level="2" creatorID="0" sortOrder="4" createDate="2019-02-03T21:37:43" updateDate="2019-02-03T22:20:04" nodeName="Prices" urlName="prices" path="-1,1064,1093" isDoc="" nodeType="1072" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="1073" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Prices]]></title>
      <description><![CDATA[Elm Lodge Kennels prices and fees.]]></description>
      <keywords><![CDATA[Elm Lodge Boarding kennels Cambridge, Elm Lodge Boarding kennels Cambridgeshire, Elm Lodge Boarding kennels in Wisbech, boarding kennels in Cambridgeshire, boarding kennels Wisbech, dog hotel cambridge, dog hotel in cambridge, luxury dog hotel cambridge, luxury dog hotel in cambridge,dog hotel cambridgeshire, dog hotel in cambridgeshire, Elm Lodge Boarding Kennels, ElmLodge Boarding Kennels, dog kennels, boarding kennels, dog boarding kennels, dog boarding, pet hotel, kennels, boarding kennels, large kennels, extra large kennels, big kennels, designer kennels, dog resort, dog grooming,dog holiday, dogs holiday, pet hotel, canine, boarding kennels, boarding kennels, Prices, fees]]></keywords>
      <bodyText><![CDATA[<p>This includes walks through our private walk area, meals and treats, regular checks throughout the day, and night security. Medication is given if required. Diabetic pets welcome.</p>]]></bodyText>
      <favIcon><![CDATA[gbp]]></favIcon>
    </Standard>
    <Slideshow id="1068" parentID="1064" level="2" creatorID="0" sortOrder="5" createDate="2019-01-31T16:53:57" updateDate="2019-02-03T22:20:04" nodeName="Slideshow" urlName="slideshow" path="-1,1064,1068" isDoc="" nodeType="1066" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="Slideshow">
      <Slide id="1069" parentID="1068" level="3" creatorID="0" sortOrder="0" createDate="2019-01-31T16:55:39" updateDate="2019-01-31T16:55:39" nodeName="Entrance" urlName="entrance" path="-1,1064,1068,1069" isDoc="" nodeType="1067" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="Slide">
        <umbracoNaviHide>0</umbracoNaviHide>
        <mainImage><![CDATA[/media/1001/kennel-entrance.jpg]]></mainImage>
        <bodyText><![CDATA[<h3>Kennel Entrance</h3>
<p>Entrance into the Elm Lodge Boarding Kennels in Cambridge, Cambridgeshire</p>]]></bodyText>
      </Slide>
      <Slide id="1070" parentID="1068" level="3" creatorID="0" sortOrder="1" createDate="2019-01-31T17:01:56" updateDate="2019-01-31T17:01:56" nodeName="Exercise Paddock" urlName="exercise-paddock" path="-1,1064,1068,1070" isDoc="" nodeType="1067" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="Slide">
        <umbracoNaviHide>0</umbracoNaviHide>
        <mainImage><![CDATA[/media/1002/exercise_paddock_main.jpg]]></mainImage>
        <bodyText><![CDATA[<h3>Dog Exercise Paddock</h3>
<p>Enclosed and secure exercise paddock where your dog can have a run get regular exercise.</p>]]></bodyText>
      </Slide>
      <Slide id="1071" parentID="1068" level="3" creatorID="0" sortOrder="2" createDate="2019-01-31T17:03:16" updateDate="2019-01-31T17:03:16" nodeName="Private Walk" urlName="private-walk" path="-1,1064,1068,1071" isDoc="" nodeType="1067" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="Slide">
        <umbracoNaviHide>0</umbracoNaviHide>
        <mainImage><![CDATA[/media/1003/private_walk.jpg]]></mainImage>
        <bodyText><![CDATA[<h3>Private Walk</h3>
<p>Ronnie the german shepherd enjoying one of our regular private walks through the coutryside.</p>]]></bodyText>
      </Slide>
      <umbracoNaviHide>0</umbracoNaviHide>
    </Slideshow>
    <ContentPanels id="1080" parentID="1064" level="2" creatorID="0" sortOrder="6" createDate="2019-02-03T20:31:32" updateDate="2019-02-03T22:20:04" nodeName="Content Panels" urlName="content-panels" path="-1,1064,1080" isDoc="" nodeType="1076" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="ContentPanels">
      <ContentPanel id="1081" parentID="1080" level="3" creatorID="0" sortOrder="0" createDate="2019-02-03T20:32:25" updateDate="2019-02-03T20:32:25" nodeName="Kennel Features" urlName="kennel-features" path="-1,1064,1080,1081" isDoc="" nodeType="1077" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="ContentPanel">
        <umbracoNaviHide>0</umbracoNaviHide>
        <panelHeading><![CDATA[THE KENNEL FEATURES:]]></panelHeading>
        <panelContent><![CDATA[<ul class="divided">
<li>Flat screen TV &amp; canvas paintings for that homely feel</li>
<li>Radiator Heating for a constant warm temperature for those chilly nights</li>
<li>A dedicated member of staff to cater to all your dog's needs</li>
<li>Double Glazed windows &amp; doors</li>
<li>Radio/CD playing relaxing music to soothe &amp; relax</li>
</ul>]]></panelContent>
      </ContentPanel>
      <ContentPanel id="1082" parentID="1080" level="3" creatorID="0" sortOrder="1" createDate="2019-02-03T20:33:46" updateDate="2019-02-03T20:33:46" nodeName="Price List" urlName="price-list" path="-1,1064,1080,1082" isDoc="" nodeType="1077" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="ContentPanel">
        <umbracoNaviHide>0</umbracoNaviHide>
        <panelHeading><![CDATA[PRICES LIST - PER NIGHT]]></panelHeading>
        <panelContent><![CDATA[<p>This includes walks through our private walk area, meals and treats, regular checks throughout the day, and night security. Medication is given if required. Diabetic pets welcome.</p>
<ul class="divided">
<li>Small Dog - £10.00</li>
<li>Medium Dog - £12.00</li>
<li>Large Dog - £12.00</li>
</ul>]]></panelContent>
      </ContentPanel>
      <ContentPanel id="1095" parentID="1080" level="3" creatorID="0" sortOrder="2" createDate="2019-02-03T21:55:06" updateDate="2019-02-03T21:55:06" nodeName="Directions" urlName="directions" path="-1,1064,1080,1095" isDoc="" nodeType="1077" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="ContentPanel">
        <umbracoNaviHide>0</umbracoNaviHide>
        <panelHeading><![CDATA[Directions from the Cromwell Rd Roundabout]]></panelHeading>
        <panelContent><![CDATA[<ul class="divided">
<li>Take the 3rd exit onto Redmoor Ln</li>
<li>Keep right to continue toward Belt Drove</li>
<li>Turn right onto Belt Drove</li>
<li>We are approximately 300 yards along the road</li>
</ul>]]></panelContent>
      </ContentPanel>
      <umbracoNaviHide>0</umbracoNaviHide>
      <ContentPanel id="1100" parentID="1080" level="3" creatorID="0" sortOrder="3" createDate="2019-02-03T22:27:58" updateDate="2019-02-03T22:27:58" nodeName="Opening Times" urlName="opening-times" path="-1,1064,1080,1100" isDoc="" nodeType="1077" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="ContentPanel">
        <umbracoNaviHide>0</umbracoNaviHide>
        <panelHeading><![CDATA[Information]]></panelHeading>
        <panelContent><![CDATA[<p>MONDAY TO SUNDAY</p>
<p>We are open between the hours of 6am and 8pm. PLEASE DO NOT ARRIVE AFTER 8PM <br /><br />We charge for day of arrival and day of collection. However, there is a reduction for multiple dogs Any pet not collected by 8pm will be subject to a charge of one extra day’s boarding. <br /><br />Payment may be made by cheque accompanied by a cheque guarantee card or cash. <br /><br />Please arrange to come and visit <a href="/contact-us/" target="_top" title="Contact Us">contact us</a></p>]]></panelContent>
      </ContentPanel>
    </ContentPanels>
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[Elm Lodge Kennels]]></title>
    <description><![CDATA[Elm Lodge Luxury Boarding Kennels is set in Wisbech Cambridgeshire countryside. Explore our beautiful boarding kennels...]]></description>
    <keywords><![CDATA[Elm Lodge Boarding kennels Cambridge, Elm Lodge Boarding kennels Cambridgeshire, Elm Lodge Boarding kennels in Wisbech, boarding kennels in Cambridgeshire, boarding kennels Wisbech, dog hotel cambridge, dog hotel in cambridge, luxury dog hotel cambridge, luxury dog hotel in cambridge,dog hotel cambridgeshire, dog hotel in cambridgeshire, Elm Lodge Boarding Kennels, ElmLodge Boarding Kennels, dog kennels, boarding kennels, dog boarding kennels, dog boarding, pet hotel, kennels, boarding kennels, large kennels, extra large kennels, big kennels, designer kennels, dog resort, dog grooming,dog holiday, dogs holiday, pet hotel, canine, boreding kennels, bording kennels]]></keywords>
    <slideshow><![CDATA[1069,1070,1071]]></slideshow>
    <primaryNavigation><![CDATA[1064,1074,1087,1094,1098]]></primaryNavigation>
    <address><![CDATA[8 Belt Drove Begdale Elm Wisbech, PE14 0BA]]></address>
    <copyright><![CDATA[Elm lodge Kennels]]></copyright>
    <facebookLink><![CDATA[https://www.facebook.com/Elm-Lodge-Kennels-953357804752390]]></facebookLink>
    <googleLink><![CDATA[https://plus.google.com/+ElmlodgekennelsCoUk]]></googleLink>
    <telephone><![CDATA[01945 860 883]]></telephone>
    <mobile><![CDATA[07429 700154]]></mobile>
    <email><![CDATA[parkerwarden@googlemail.com]]></email>
    <bodytext><![CDATA[<p>Elm lodge kennels are family business run by Betty how is fully licensed, based in the village of Wisbech in Cambridgeshire, we ensure a relaxed, safe and friendly atmosphere where the care and welfare of our Dog Guests are of prime importance. Set in a peaceful, landscape away from any busy main roads, the quiet atmosphere and relaxing, rural setting, is the perfect retreat for your dogs whilst you are away. Your dog can enjoy the benefits of our modern, heated dog kennels whilst also having access to acres of garden.</p>
<h2>"Enjoy your holiday, <strong>your dog certainly will enjoy theirs with us" </strong></h2>
<p>We take enormous pride in offering the highest standard of care and accommodation for your pets. Every dog is groomed and cared for individually throughout the day by our family who we promise, will cater to your dog's every whim. All at no extra cost to you its all part of our service.</p>]]></bodytext>
    <favIcon><![CDATA[home]]></favIcon>
  </Homepage>
</root>