<!DOCTYPE root[<!ELEMENT Standard ANY>
<!ATTLIST Standard id ID #REQUIRED>
<!ELEMENT Slide ANY>
<!ATTLIST Slide id ID #REQUIRED>
<!ELEMENT Slideshow ANY>
<!ATTLIST Slideshow id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
 
<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT ClientArea ANY>
<!ATTLIST ClientArea id ID #REQUIRED>
<!ELEMENT ContentMaster ANY>
<!ATTLIST ContentMaster id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1064" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-01-31T16:00:52" updateDate="2019-01-31T17:11:30" nodeName="Home" urlName="home" path="-1,1064" isDoc="" nodeType="1062" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="1063" nodeTypeAlias="Homepage">
    <Slideshow id="1068" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2019-01-31T16:53:57" updateDate="2019-01-31T16:53:57" nodeName="Slideshow" urlName="slideshow" path="-1,1064,1068" isDoc="" nodeType="1066" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="Slideshow">
      <umbracoNaviHide>0</umbracoNaviHide>
      <Slide id="1069" parentID="1068" level="3" creatorID="0" sortOrder="0" createDate="2019-01-31T16:55:39" updateDate="2019-01-31T16:55:39" nodeName="Entrance" urlName="entrance" path="-1,1064,1068,1069" isDoc="" nodeType="1067" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="Slide">
        <umbracoNaviHide>0</umbracoNaviHide>
        <mainImage><![CDATA[/media/1001/kennel-entrance.jpg]]></mainImage>
        <bodyText><![CDATA[<h3>Kennel Entrance</h3>
<p>Entrance into the Elm Lodge Boarding Kennels in Cambridge, Cambridgeshire</p>]]></bodyText>
      </Slide>
      <Slide id="1070" parentID="1068" level="3" creatorID="0" sortOrder="1" createDate="2019-01-31T17:01:56" updateDate="2019-01-31T17:01:56" nodeName="Exercise Paddock" urlName="exercise-paddock" path="-1,1064,1068,1070" isDoc="" nodeType="1067" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="Slide">
        <umbracoNaviHide>0</umbracoNaviHide>
        <mainImage><![CDATA[/media/1002/exercise_paddock_main.jpg]]></mainImage>
        <bodyText><![CDATA[<h3>Dog Exercise Paddock</h3>
<p>Enclosed and secure exercise paddock where your dog can have a run get regular exercise.</p>]]></bodyText>
      </Slide>
      <Slide id="1071" parentID="1068" level="3" creatorID="0" sortOrder="2" createDate="2019-01-31T17:03:16" updateDate="2019-01-31T17:03:16" nodeName="Private Walk" urlName="private-walk" path="-1,1064,1068,1071" isDoc="" nodeType="1067" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="0" nodeTypeAlias="Slide">
        <umbracoNaviHide>0</umbracoNaviHide>
        <mainImage><![CDATA[/media/1003/private_walk.jpg]]></mainImage>
        <bodyText><![CDATA[<h3>Private Walk</h3>
<p>Ronnie the german shepherd enjoying one of our regular private walks through the coutryside.</p>]]></bodyText>
      </Slide>
    </Slideshow>
    <Standard id="1074" parentID="1064" level="2" creatorID="0" sortOrder="1" createDate="2019-01-31T17:07:25" updateDate="2019-01-31T17:07:48" nodeName="Kennels" urlName="kennels" path="-1,1064,1074" isDoc="" nodeType="1072" creatorName="Andrew Bright" writerName="Andrew Bright" writerID="0" template="1073" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Kennels]]></title>
      <description><![CDATA[Elm lodge kennels a look at the kennels avaliable for your dog, If you wish you are more than welcome to bring your dogs own bedding, food and toys to make them feel at home, but otherwise we are more than happy to provide everything.]]></description>
      <keywords><![CDATA[Elm Lodge Boarding kennels Cambridge, Elm Lodge Boarding kennels Cambridgeshire, Elm Lodge Boarding kennels in Wisbech, boarding kennels in Cambridgeshire, boarding kennels Wisbech, dog hotel cambridge, dog hotel in cambridge, luxury dog hotel cambridge, luxury dog hotel in cambridge,dog hotel cambridgeshire, dog hotel in cambridgeshire, Elm Lodge Boarding Kennels, ElmLodge Boarding Kennels, dog kennels, boarding kennels, dog boarding kennels, dog boarding, pet hotel, kennels, boarding kennels, large kennels, extra large kennels, big kennels, designer kennels, dog resort, dog grooming,dog holiday, dogs holiday, pet hotel, canine, boreding kennels, bording kennels, Kennels, bedding, heating]]></keywords>
      <bodyText><![CDATA[<p>Elm lodge is a very special place with a relaxed, friendly atmosphere with that personal touch ensuring our Dog Guests feel right at home. We ensure we have the best kennel facilities possible, so we are always looking to invest in upgrading our facilities to make sure that we can continue to provide great service. <br /><br />The kennels themselves are situated in a quiet corner of the yard, there are 12 kennels within the building of varying sizes to cater suitably for all size of dogs.<br />If you wish you are more than welcome to bring your dogs own bedding, food and toys to make them feel at home, but otherwise we are more than happy to provide everything.</p>
<p class="quotation">"We can administer injections if required, and there is NO CHARGE for administering any kind of medication for your dog."</p>
<p>Our Kennels are set in our beautiful gardens. A walk through the gardens takes you to reception and then on to our exercise paddock which is securely fenced for your dog's safety, and means they have the freedom to run and play lead free..</p>]]></bodyText>
      <favIcon><![CDATA[paw]]></favIcon>
    </Standard>
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[Elm Lodge Kennels]]></title>
    <description><![CDATA[Elm Lodge Luxury Boarding Kennels is set in Wisbech Cambridgeshire countryside. Explore our beautiful boarding kennels...]]></description>
    <keywords><![CDATA[Elm Lodge Boarding kennels Cambridge, Elm Lodge Boarding kennels Cambridgeshire, Elm Lodge Boarding kennels in Wisbech, boarding kennels in Cambridgeshire, boarding kennels Wisbech, dog hotel cambridge, dog hotel in cambridge, luxury dog hotel cambridge, luxury dog hotel in cambridge,dog hotel cambridgeshire, dog hotel in cambridgeshire, Elm Lodge Boarding Kennels, ElmLodge Boarding Kennels, dog kennels, boarding kennels, dog boarding kennels, dog boarding, pet hotel, kennels, boarding kennels, large kennels, extra large kennels, big kennels, designer kennels, dog resort, dog grooming,dog holiday, dogs holiday, pet hotel, canine, boreding kennels, bording kennels]]></keywords>
    <slideshow><![CDATA[1069,1070,1071]]></slideshow>
    <primaryNavigation><![CDATA[1064,1074]]></primaryNavigation>
    <address><![CDATA[8 Belt Drove Begdale Elm Wisbech, PE14 0BA]]></address>
    <copyright><![CDATA[Elm lodge Kennels]]></copyright>
    <facebookLink><![CDATA[https://www.facebook.com/Elm-Lodge-Kennels-953357804752390]]></facebookLink>
    <googleLink><![CDATA[https://plus.google.com/+ElmlodgekennelsCoUk]]></googleLink>
    <telephone><![CDATA[01945 860 883]]></telephone>
    <mobile><![CDATA[07429 700154]]></mobile>
    <email><![CDATA[parkerwarden@googlemail.com]]></email>
    <bodytext><![CDATA[<p>Elm lodge kennels are family business run by Betty how is fully licensed, based in the village of Wisbech in Cambridgeshire, we ensure a relaxed, safe and friendly atmosphere where the care and welfare of our Dog Guests are of prime importance. Set in a peaceful, landscape away from any busy main roads, the quiet atmosphere and relaxing, rural setting, is the perfect retreat for your dogs whilst you are away. Your dog can enjoy the benefits of our modern, heated dog kennels whilst also having access to acres of garden.</p>
<h2>"Enjoy your holiday, <strong>your dog certainly will enjoy theirs with us" </strong></h2>
<p>We take enormous pride in offering the highest standard of care and accommodation for your pets. Every dog is groomed and cared for individually throughout the day by our family who we promise, will cater to your dog's every whim. All at no extra cost to you its all part of our service.</p>]]></bodytext>
    <favIcon><![CDATA[home]]></favIcon>
  </Homepage>
</root>