@inherits UmbracoTemplatePage
@{
    Layout = null;

	if(Model.Content.HasProperty("contentPanels") && Model.Content.HasValue("contentPanels"))
	{
		var nodeIds = Model.Content.GetPropertyValue("contentPanels").ToString().Split(',');
    	List<IPublishedContent> panels = new List<IPublishedContent>();
		
		foreach (var nodeId in nodeIds)
		{
			if (!String.IsNullOrEmpty(nodeId))
			{
				var publishedContent = Umbraco.NiceUrl(Convert.ToInt32(nodeId));
				if (!String.IsNullOrEmpty(publishedContent) && publishedContent != "#")
				{
					panels.Add(Umbraco.TypedContent(nodeId));
				}
			}
		}
		
		if (panels.Count() > 0)
		{
			foreach (var panel in panels)
			{
				<section>
					<header>
						<h3>@panel.GetPropertyValue("PanelHeading")</h3>
					</header>
					<hr class="star-primary">
					@Html.Raw(panel.GetPropertyValue<string>("PanelContent"))
				</section>
			}
    
		}
	}
}