@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@*<div id="features-wrapper">
	<section id="features" class="container">*@
		<div class="row">
			@{
				foreach (var feature in CurrentPage.Items)
				{
					<div class="4u 12u(mobile)">
						<section>
							<header>
								<h3>@feature.Title</h3>
							</header>
							@if (feature.Image != "")
							{
								IPublishedContent featureImage = Umbraco.TypedMedia(feature.Image.ToString());
								<a href="#" class="image featured">
									<img src="@featureImage.Url" alt="">
								</a>
								@*<img class="img-responsive" src="@featureImage.Url" />*@
							}
									
								@Html.Raw(feature.Description)
						</section>
					</div>
				}
		
			}
		</div>
	@*</section>
</div>*@