@inherits UmbracoTemplatePage
@{
    //Layout = null;
	var homePage = Model.Content.AncestorOrSelf(1);
}

<nav id="nav">
	@if (homePage.HasProperty("primaryNavigation"))
	{
		<ul>
			@foreach (var link in Umbraco.TypedContent(homePage.GetPropertyValue<string>("primaryNavigation").Split(',')))
			{
				if (link != null)
				{	
					var selected = Array.IndexOf(Model.Content.Path.Split(','), link.Id.ToString()) >= 0 && link.Level > 1 ? " style=\"color: #ED786A;\"" : "";
					<li @Html.Raw(selected)>
						@RenderLinkIfNotEmpty(link.Url, link.GetPropertyValue<string>("FavIcon"), link.Name)
					</li>
					
				}
			}
		</ul>
	}
</nav>
	
@helper RenderLinkIfNotEmpty(dynamic link, string cssClass, string linkName)
{
    // A helper function is handy when you have to do the same thing over and over again
    // So now we only have to write the "if" check and list item once, and we only need
    // to put in the things that can vary
    
    if (string.IsNullOrEmpty(link) == false)
    {
		<a href="@link" class="icon fa-@cssClass"><span>@linkName</span></a>
    }
}